sandbox/
*.bak
grafana/alerting/
grafana/csv/
grafana/grafana.db
grafana/plugins/
influxdb/meta/
influxdb/wal/
influxdb/data/
compose.env
grafana.env
pypowerwall.env
telegraf.local
weather/uploadtest.sh
weather/weather411.conf
weather/weather411.conf.orig
.DS_Store
.vs/
backups/*.tgz
influxdb/run-once-*.sql.done
