# Ignore common local files
.DS_Store

# VisualStudio
.vs/

# VisualStudio code
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local Settings
compose.env
compose-left.env
grafana.env
powerwall.extend.yml
pypowerwall.env
pypowerwall-left.env
telegraf.local
telegraf-left.local

# Local Dev files
*.bak
backups/*.tgz
influxdb/run-once-*.sql.done
influxdb-left/run-once-*.sql.done

sandbox/

bin/
env/
include/

lib/
lib64/

grafana/alerting/
grafana/csv/
grafana/grafana.db
grafana/plugins/

influxdb/meta/
influxdb/wal/
influxdb/data/
influxdb-left/meta/
influxdb-left/wal/
influxdb-left/data/

weather/uploadtest.sh
weather/weather411.conf
weather/weather411.conf.orig
weather/contrib/ecowitt/ecowitt.conf

tools/tesla-history/tesla-history.auth
tools/tesla-history/tesla-history.conf
tools/weather-history/weather-history.conf
tools/ecowitt-weather-history/ecowitt-weather-history.conf
