# Updated v4.1.1
GF_PATHS_PROVISIONING=/var/lib/grafana/provisions
GF_SERVER_HTTP_PORT=9000
GF_INSTALL_PLUGINS="grafana-piechart-panel, https://github.com/yesoreyeram/yesoreyeram-boomtable-panel/releases/download/v1.5.0-alpha.3/yesoreyeram-boomtable-panel-1.5.0-alpha.3.zip;yesoreyeram-boomtable-panel, fetzerch-sunandmoon-datasource, simpod-json-datasource"
GF_ANALYTICS_CHECK_FOR_UPDATES=false
GF_ANALYTICS_REPORTING_ENABLED=false
GF_PANELS_DISABLE_SANITIZE_HTML=true

# This allows grafana dashboards to be embedded in other webpages
GF_SECURITY_ALLOW_EMBEDDING=true

# Uncomment lines below to disable login requirement (full access)
#GF_AUTH_DISABLE_LOGIN_FORM=true
#GF_AUTH_ANONYMOUS_ENABLED=true
#GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
#GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
#GF_USERS_ALLOW_SIGN_UP=false

# Uncomment to make dashboards public without edit ability (read-only)
#GF_FEATURE_TOGGLES_PUBLICDASHBOARDS=true
#GF_AUTH_ANONYMOUS_ENABLED=true
#GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
#GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer

# Uncomment and configure for mail relay for alert notifications
#GF_SMTP_ENABLED=true
#GF_SMTP_HOST=smtp-mail.outlook.com:587
#GF_SMTP_USER=user@outlook.com
#GF_SMTP_FROM_ADDRESS=user@outlook.com
#GF_SMTP_PASSWORD=generatedapppassword

# Uncomment to activate HTTPS for Grafana
#GF_SERVER_PROTOCOL=https
#GF_SERVER_CERT_FILE=/var/lib/grafana/cert.pem
#GF_SERVER_CERT_KEY=/var/lib/grafana/key.pem
