GF_PATHS_PROVISIONING=/var/lib/grafana/provisions
GF_SERVER_HTTP_PORT=9000
GF_INSTALL_PLUGINS=grafana-piechart-panel, natel-plotly-panel, blackmirror1-singlestat-math-panel, btplc-trend-box-panel, marcuscalidus-svg-panel, michaeldmoore-multistat-panel, yesoreyeram-boomtable-panel, ryantxu-ajax-panel, grafana-influxdb-flux-datasource, fetzerch-sunandmoon-datasource, andig-darksky-datasource, simpod-json-datasource
GF_ANALYTICS_CHECK_FOR_UPDATES=false
GF_ANALYTICS_REPORTING_ENABLED=false
GF_PANELS_DISABLE_SANITIZE_HTML=true

# Uncomment and configure for mail relay for alert notifications
#GF_SMTP_ENABLED=true
#GF_SMTP_HOST=smtp-mail.outlook.com:587
#GF_SMTP_USER=user@outlook.com
#GF_SMTP_FROM_ADDRESS=user@outlook.com
#GF_SMTP_PASSWORD=generatedapppassword

# Uncomment to activate HTTPS for Grafana
#GF_SERVER_PROTOCOL=https
#GF_SERVER_CERT_FILE=/var/lib/grafana/cert.pem
#GF_SERVER_CERT_KEY=/var/lib/grafana/key.pem
