# Environment variables for docker compose.
# 
# GRAFANAUSER - may need to be adjusted for cases such as rootless docker.
# See issue #22, 
# https://github.com/jasonacox/Powerwall-Dashboard/issues/22#issuecomment-1253076441
GRAFANAUSER="1000:1000"