version: "3.5"

services:
    tesla-history:
        build: ./tools/tesla-history
        image: tesla-history-timescaledb:local
        pull_policy: build
        container_name: tesla-history
        hostname: tesla-history
        restart: unless-stopped
        user: "${PWD_USER:-1000:1000}"
        volumes:
            - type: bind
              source: ./tools/tesla-history
              target: /var/lib/tesla-history
            - type: bind
              source: ./timescaledb
              target: /timescaledb
              read_only: true
        environment:
            - INFLUX_HOST=influxdb
            - INFLUX_PORT=8086
            - PGHOST=timescaledb
            - PGPORT=5432
            - PGSSLMODE=disable
            - TESLA_CONF=/var/lib/tesla-history/tesla-history.conf
            - TESLA_AUTH=/var/lib/tesla-history/tesla-history.auth
        env_file:
            - timescaledb.env
